<li id="insertImage" onClick="sketchSpace.insertImage();return false;">
  <a class="buttonicon buttonicon-insert-image" title="Insert image"></a>
</li>
<li id="uploadPdfButton" onClick="return false;">
  <a class="buttonicon buttonicon-insert-pdf" title="SketchSpace upload PDF"></a>
</li>
