<li id="insertImage" onClick="sketchSpace.insertImage();return false;">
  <a title="Insert image"><span class="buttonicon buttonicon-insert-image"></span></a>
</li>
<li id="uploadPdfButton" onClick="return false;">
  <a title="SketchSpace upload PDF"><span class="buttonicon buttonicon-insert-pdf"></span></a>
</li>
